@model FraudWatch.Domain.Entities.AnalistaEntity

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Detalhes do Analista</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.Nome)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.Departamento)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Departamento)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.CPF)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CPF)</dd>

                        <dt class="col-sm-4 font-weight-bold">@Html.DisplayNameFor(model => model.DataNascimento)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DataNascimento)</dd>
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
                    <a asp-action="Edit" asp-route-id="@Model.UsuarioId" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
